.container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* background: #000000; */
}

.nav {
  
}

.inputMenu {
  width: 30em;
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
}

.resultsContainer {
  /* border: 1px solid grey; */
}