.container {
  /* width: 100%; */
  /* background: gold; */
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.header {
  border-bottom: 1px solid lightgray;
  align-content: flex-end;
  margin-bottom: 1.5em;
}

.header .brand {
  margin-right: 0.5em;
}

h2 {
  /* width: 5.5em; */
  font-family: 'Comfortaa', cursive;
}

.matchForm {
  margin-bottom: 1.5em;
}

.resultsContainer {
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
}

.noMatchCard {
  width: 100%;
}

.cardContainer{
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resultsCard {
  width: 48%;
  margin-bottom: 1em;
}

.cardBgCustom {
  background-color: blue;
}