.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer h2 {
  font-family: 'Comfortaa', cursive;
}

.noMatchCard {
  width: 100%;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5em;
  overflow: auto;
  max-height: 35em;
}