h2 {
  font-family: 'Comfortaa', cursive;
}

.header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1.5em;
}

.sourceCodeLink {
  color: black;
}

.sourceCodeLink:hover {
  text-decoration: none;
}

.matchForm {
  margin-bottom: 2em;
}

.matchForm .btn {
  font-family: 'Comfortaa', cursive;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.noMatchCard {
  width: 100%;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5em;
  overflow: scroll;
  max-height: 45em;
}

.resultsCard {
  width: 49%;
  margin-bottom: 0.8em;
}

@media only screen and (max-width: 768px) {
  .resultsCard {
    width: 100%;
  }
}